{% extends "base.html" %}

{% block content %}
    <div class="bg-dark shadow-sm mx-auto"></div>
   <div class="bg-light shadow-sm mx-auto"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">It's all about natural</h2>
           <img src="/static/hair04.jpg" width="350" height="auto">
      <p class="lead">Unsere Produkte sind gut für dein Haar.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto"></div>
  </div>
</div>
  </div>
</div>

{% endblock %}
